body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-outline-secondary,.btn-outline-primary,.btn-outline-danger,.btn-outline-warning,.btn-outline-info{
  border: none;
  transition:0.5s; ;
}
.btn-outline-warning:hover{
color: white !important;
background: #ffc107;
}
.btn-outline-warning:active{
  color: dark !important;
  }
.hide{
  display: none;
}

.loginImg{
  height: 390px;
  width: 450px;
}
.signImg{
 height: 600px;
 width: 627px;
}

.ColorMode{
  height: 30px;
  width: 30px;
}
.menu_style{
  width: 220px;
  height: 700px;
}
.menu_Active{
  background-color: #ffc107 !important;
  color: aliceblue !important;
}
.home_desk{
  height: 700px;
}