body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-outline-light,.btn-outline-primary,.btn-outline-danger,.btn-outline-success,.btn-outline-warning{
  border: none;
}

.hide{
  display: none;
}

.loginImg{
  height: 390px;
  width: 450px;
}
.signImg{
 height: 600px;
 width: 627px;
}

.ColorMode{
  height: 30px;
  width: 30px;
}